@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.telephone-input select {
  max-width: 55px;
  font-size: 14px;
  padding: 10px;
}